.aside {
    max-width: 220px;
    background-color: #fff;
    box-shadow: var(--block-shadow);
    position: relative;
    z-index: 2;

    .asideIn {
        padding: 11px 0;
    }

    .asideLogo {
        display: block;
        margin-bottom: 57px;
        padding: 0 40px;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    .asideNav {
        padding: 0 15px;
        .asideNavItem.asideNavItemDropped {
            .asideNavItemHead {
                .navArrow {
                    transform: rotate(90deg);
                }
            }
        }
        .asideNavItem {
            margin-bottom: 15px;

            .asideNavItemHead {
                font-weight: 600;
                font-size: 14px;
                line-height: 16.44px;
                padding: 16px 20px;
                border-radius: 15px;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: space-between;
                @include ease-02;

                .mainPart {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 12px;
                    }
                }

                .navArrow {
                    @include ease-02;
                }
            }

            .asideNavItemList {
                height: 0;
                overflow: hidden;
                @include ease-02;

                li {

                }
                .asideNavItemListLink {
                    font-weight: 600;
                    display: block;
                    padding: 12px 20px;
                    @include ease-02;
                }
            }
        }

        .asideNavItem.tournament {
            .asideNavItemHead {
                color: var(--pallete_green3);

                svg {
                    path {
                        fill: var(--pallete_green3);
                    }
                }

                &:hover {
                    background-color: var(--pallete_green1);
                }
            }
            .asideNavItemList {
                .asideNavItemListLink {
                    color: var(--pallete_green2);
                    
                    &:hover {
                        color: var(--pallete_green3);
                    }
                }
            }
        }

        .asideNavItem.questions {
            .asideNavItemHead {
                color: var(--base_orange);

                svg {
                    path {
                        fill: var(--base_orange);
                    }
                }

                &:hover {
                    background-color: var(--pallete_red1);
                }
            }

            .asideNavItemList {
                .asideNavItemListLink {
                    color: var(--pallete_red2);

                    &:hover {
                        color: var(--pallete_red3);
                    }
                }
            }
        }

        .asideNavItem.players {
            .asideNavItemHead {
                color: var(--pallete_yellow3);

                svg {
                    path {
                        fill: var(--pallete_yellow3);
                    }
                }

                &:hover {
                    background-color: var(--pallete_yellow1);
                }
            }

            .asideNavItemList {
                .asideNavItemListLink {
                    color: var(--pallete_yellow2);

                    &:hover {

                    }
                }
            }
        }

        .asideNavItem.teams {
            .asideNavItemHead {
                color: var(--pallete_blue3);

                svg {
                    path {
                        fill: var(--pallete_blue3);
                    }
                }

                &:hover {
                    background-color: #E5E6FF;
                }
            }

            .asideNavItemList {
                .asideNavItemListLink {
                    color: var(--pallete_blue3);
                    
                    &:hover {
                        color: var(--pallete_blue3);
                    }
                }
            }
        }

        .asideNavItem.settings {
            .asideNavItemHead {
                color: var(--pallete_gray3);

                svg {
                    path {
                        fill: var(--pallete_gray3);
                    }
                }

                &:hover {
                    background-color: var(--pallete_gray1);
                }
            }
            .asideNavItemList {
                .asideNavItemListLink {
                    color: var(--pallete_gray2);
                    
                    &:hover {
                        color: var(--pallete_gray3);
                    }
                }
            }
        }

        .tournament.asideNavItemDropped {
            .asideNavItemHead {
                background-color: var(--pallete_green1);
            }
        }
        .questions.asideNavItemDropped {
            .asideNavItemHead {
                background-color: var(--pallete_red1);
            }
        }
        .players.asideNavItemDropped {
            .asideNavItemHead {
                background-color: var(--pallete_yellow1);
            }
        }
        .teams.asideNavItemDropped {
            .asideNavItemHead {
                background-color: #E5E6FF;
            }
        }
        .settings.asideNavItemDropped {
            .asideNavItemHead {
                background-color: var(--pallete_gray1);
            }
        }
    }
}