.header {
    // background: linear-gradient(90.19deg, #4881B6 0%, #5C35CB 50.83%, #2D129A 100%);
    background: linear-gradient(90.19deg, #4881B6 0%, #5758F2 27.4%, #805BE8 50.83%, #7746D9 77.4%, #641FD5 100%);
    // background-image: url('../img/header-bg.svg');
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: 120% 100%;
    overflow: hidden;
    position: relative;

    &:after {
        position: absolute;
        content: url('../img/header-right.svg');
        right: 0;
        top: 0;
        z-index: 0;
    }

    &:before {
        position: absolute;
        content: url('../img/header-left.svg');
        top: 0;
        left: 0;
        z-index: 0;
    }
    .headerIn {
        padding: 15px 20px;
        // padding-left: 5%;
        // padding-right: 10%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1340px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        z-index: 1;
    }

    .headerLogo {
        img {
            max-width: 187px;
            max-height: 80px;
        }
    }

    .headerNav {
        display: flex;
        padding-bottom: 16px;

        li {
            margin-right: 60px;

            &:last-child {
                margin: 0;
            }
        }

        .headerNavItem {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.2px;
            color: var(--pallete_gray1);
            

            
        }
    }

    .headerAcc {
        display: block;
        font-size: 16px;
        line-height: 18.78px;
        color: var(--pallete_yellow1);
        font-weight: 600;   
        padding-bottom: 16px;
        svg {
            margin-right: 11px;
            path {
                fill: #fff;
            }
        }
    }
}