#popupSample {
    
    .popupSample {
        width: 503px;
        height: 223px;

        .popupSampleTitle {
            margin-bottom: 16px;
        }

        .input {
            width: 277px;
        }
        .popupSampleInfo {
            margin-bottom: 26px;
        }
    }
}