.btn-blue {
    @include btn-blue;
}

.btn-green {
    @include btn-green;
}

.btn-orange {
    @include btn-orange;
}

.btn-yellow {
    @include btn-yellow;
}

.search {
    @include btn-blue;
    display: flex;
    align-items: center;

    svg {
        margin-left: 8px;
    }
}