.dropdownDefault.dropdownDefaultActive {
    .dropdownDefaultHead {
        border-color: var(--pallete_blue2);
        &:after {
            transform: rotate(180deg);
        }
    }
    .dropdownDefaultList {
        opacity: 1;
        box-shadow: var(--push_shadow);
        z-index: 10;

        

    }
}

.dropdownDefault {
    cursor: pointer;
    position: relative;
    .dropdownDefaultHead {
        position: relative;
        // border: 2px solid var(--devaider);
        // border-radius: 10px;
        // padding: 14px 15px;
        @include ease-02;

        &:hover {
            border-color: var(--pallete_blue2);
        }

        button {
            position: absolute;
            right: 16px;
            top:calc(50% - 10px);
            z-index: 100;
        }

        &:after {
            @include ease-02;
        }

    }

    .dropdownDefaultList {
        background-color: #fff;
        border: 1px solid #F6F6F6;
        box-shadow: 0px 6px 30px rgba(102, 45, 252, 0.03);
        border-radius: 15px;
        height: 0;
        overflow: hidden;
        @include ease-02;
        // margin-top: 14px;
        padding: 0;
        // margin-top: 14px;
        opacity: 0;
        position: absolute;
        top: calc(100% + 7px);
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

            .dropdownDefaultListItem {
                padding: 9.5px 15px 9.5px 15px;
                @include ease-02;
                cursor: pointer;
                color: var(--pallete_gray3);
                font-weight: 600;
                font-size: 14px;
                line-height: 16.8px;


                &:hover {
                    background-color: var(--hover);
                    color: var(--pallete_blue3);
                }
            }
    }
}