.funcBtn {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16.44px;
    color: var(--text_dark2);
    font-weight: 600;

    div {
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-right: 6px;
    }
}

.funcBtn.btnSendPush {
    div {
        background-color: var(--pallete_green1);

        svg {
            path {
                fill: var(--base_green);
            }
        }
    }
}

.funcBtn.btnBlock {
    div {
        background-color: var(--pallete_red1);

        svg {
            path {
                fill: var(--base_red);
            }
        }
    }
}

.funcBtn.btnExInfo {
    div {
        background-color: var(--pallete_yellow1);

        svg {
            path {
                fill: var(--base_yellow);
            }
        }
    }
}