.scroll-custom {
    overflow: hidden;
    overflow-y: scroll !important; 

    &::-webkit-scrollbar {
        width: 9.38px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border: 1px solid var(--pallete_gray2);
        border-radius: 15px;
    }
}