.table {
    border-spacing: 0;
    width: 100%;    


    .tableHeadaRow {
        cursor: pointer;    
        .tableHeadRowItem {
            border-bottom: 2px solid var(--devaider);
            text-align: left;
            padding: 16px 30px;

            font-size: 14px;
            line-height: 16.8px;
            color: var(--pallete_gray3);
        }
    }

    .tableRow {
        @include ease-02;
        cursor: pointer;

        .tableRowItem {
            padding: 16px 30px;
            border-bottom: 1px solid var(--devaider);

            font-weight: 500;
            font-size: 14px;
            line-height: 19.6px;
        }

        

        &:last-child {
            .tableRowItem {
                border: none;
            }

        }

        &:hover {
            background-color: var(--hover);
        }
    }

    .tableRow.tableRowItemActive {
        background-color: var(--pallete_green1);
        
        .tableRowItem {
            border-bottom: 2px solid var(--base_green);
        }
    }
}