@charset "UTF-8";
/* Библиотеки */
/* Главные стили */
/* КНОПКИ */
/* Сплошные кнопки */
/* Полупрозрачные кнопки */
/* ИНПУТЫ */
/* Без иконки */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}

html {
  font-size: 16px;
  min-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input, button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: #1E2022;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.container {
  max-width: 1410px;
  margin: 0 auto 0 0;
  width: 100%;
  padding: 0 20px;
}

.block {
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 50px #DDE7F7;
          box-shadow: 0px 4px 50px #DDE7F7;
}

/* Компонетны */
/* КНОПКИ */
/* Сплошные кнопки */
/* Полупрозрачные кнопки */
/* ИНПУТЫ */
/* Без иконки */
.input {
  display: block;
  background-color: #fff;
  border: 2px solid #C5D0E7;
  border-radius: 10px;
  padding: 14px 15px;
  width: 100%;
  color: #52616B;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.input:hover {
  border-color: #7F84EC;
}
.input:focus {
  border: 2px solid #7F84EC;
}
.input:disabled {
  color: #A9B4CB;
  background-color: #F0F5F9;
  border: 2px solid #C5D0E7;
}

.input.inputSuccess {
  display: block;
  background-color: #fff;
  border: 2px solid #C5D0E7;
  border-radius: 10px;
  padding: 14px 15px;
  width: 100%;
  color: #52616B;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #5FDAA6;
}
.input.inputSuccess:hover {
  border-color: #7F84EC;
}
.input.inputSuccess:focus {
  border: 2px solid #7F84EC;
}
.input.inputSuccess:disabled {
  color: #A9B4CB;
  background-color: #F0F5F9;
  border: 2px solid #C5D0E7;
}

.input.inputError {
  display: block;
  background-color: #fff;
  border: 2px solid #C5D0E7;
  border-radius: 10px;
  padding: 14px 15px;
  width: 100%;
  color: #52616B;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #F57243;
}
.input.inputError:hover {
  border-color: #7F84EC;
}
.input.inputError:focus {
  border: 2px solid #7F84EC;
}
.input.inputError:disabled {
  color: #A9B4CB;
  background-color: #F0F5F9;
  border: 2px solid #C5D0E7;
}

/* Блоки */
.aside {
  max-width: 220px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 50px #DDE7F7;
          box-shadow: 0px 4px 50px #DDE7F7;
  position: relative;
  z-index: 2;
  min-height: 100%;
}
.aside .asideIn {
  padding: 11px 0;
}
.aside .asideLogo {
  display: block;
  margin-bottom: 57px;
  padding: 0 40px;
}
.aside .asideLogo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.aside .asideNav {
  padding: 0 15px;
}
.aside .asideNav .asideNavItem.asideNavItemDropped .asideNavItemHead .navArrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.aside .asideNav .asideNavItem {
  margin-bottom: 15px;
}
.aside .asideNav .asideNavItem .asideNavItemHead {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.44px;
  padding: 16px 20px;
  border-radius: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.aside .asideNav .asideNavItem .asideNavItemHead .mainPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside .asideNav .asideNavItem .asideNavItemHead .mainPart svg {
  margin-right: 12px;
}
.aside .asideNav .asideNavItem .asideNavItemHead .navArrow {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.aside .asideNav .asideNavItem .asideNavItemList {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.aside .asideNav .asideNavItem .asideNavItemList .asideNavItemListLink {
  font-weight: 600;
  display: block;
  padding: 12px 20px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.aside .asideNav .asideNavItem.tournament .asideNavItemHead {
  color: #2FC083;
}
.aside .asideNav .asideNavItem.tournament .asideNavItemHead svg path {
  fill: #2FC083;
}
.aside .asideNav .asideNavItem.tournament .asideNavItemHead:hover {
  background-color: #E5FFEF;
}
.aside .asideNav .asideNavItem.tournament .asideNavItemList .asideNavItemListLink {
  color: #5FDAA6;
}
.aside .asideNav .asideNavItem.tournament .asideNavItemList .asideNavItemListLink:hover {
  color: #2FC083;
}
.aside .asideNav .asideNavItem.questions .asideNavItemHead {
  color: #F57243;
}
.aside .asideNav .asideNavItem.questions .asideNavItemHead svg path {
  fill: #F57243;
}
.aside .asideNav .asideNavItem.questions .asideNavItemHead:hover {
  background-color: #FFF1E5;
}
.aside .asideNav .asideNavItem.questions .asideNavItemList .asideNavItemListLink {
  color: #FAB294;
}
.aside .asideNav .asideNavItem.questions .asideNavItemList .asideNavItemListLink:hover {
  color: #F57243;
}
.aside .asideNav .asideNavItem.players .asideNavItemHead {
  color: #D6AA0E;
}
.aside .asideNav .asideNavItem.players .asideNavItemHead svg path {
  fill: #D6AA0E;
}
.aside .asideNav .asideNavItem.players .asideNavItemHead:hover {
  background-color: #FFFBE5;
}
.aside .asideNav .asideNavItem.players .asideNavItemList .asideNavItemListLink {
  color: #EBC233;
}
.aside .asideNav .asideNavItem.teams .asideNavItemHead {
  color: #2F35C0;
}
.aside .asideNav .asideNavItem.teams .asideNavItemHead svg path {
  fill: #2F35C0;
}
.aside .asideNav .asideNavItem.teams .asideNavItemHead:hover {
  background-color: #E5E6FF;
}
.aside .asideNav .asideNavItem.teams .asideNavItemList .asideNavItemListLink {
  color: #2F35C0;
}
.aside .asideNav .asideNavItem.teams .asideNavItemList .asideNavItemListLink:hover {
  color: #2F35C0;
}
.aside .asideNav .asideNavItem.settings .asideNavItemHead {
  color: #627698;
}
.aside .asideNav .asideNavItem.settings .asideNavItemHead svg path {
  fill: #627698;
}
.aside .asideNav .asideNavItem.settings .asideNavItemHead:hover {
  background-color: #F0F3FF;
}
.aside .asideNav .asideNavItem.settings .asideNavItemList .asideNavItemListLink {
  color: #A9B4CB;
}
.aside .asideNav .asideNavItem.settings .asideNavItemList .asideNavItemListLink:hover {
  color: #627698;
}
.aside .asideNav .tournament.asideNavItemDropped .asideNavItemHead {
  background-color: #E5FFEF;
}
.aside .asideNav .questions.asideNavItemDropped .asideNavItemHead {
  background-color: #FFF1E5;
}
.aside .asideNav .players.asideNavItemDropped .asideNavItemHead {
  background-color: #FFFBE5;
}
.aside .asideNav .teams.asideNavItemDropped .asideNavItemHead {
  background-color: #E5E6FF;
}
.aside .asideNav .settings.asideNavItemDropped .asideNavItemHead {
  background-color: #F0F3FF;
}

.header {
  background: -o-linear-gradient(359.81deg, #4881B6 0%, #5C35CB 50.83%, #2D129A 100%);
  background: linear-gradient(90.19deg, #4881B6 0%, #5C35CB 50.83%, #2D129A 100%);
}
.header .headerIn {
  padding: 15px 0;
  padding-left: 5%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .headerLogo img {
  max-width: 187px;
  max-height: 80px;
}
.header .headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
}
.header .headerNav li {
  margin-right: 60px;
}
.header .headerNav li:last-child {
  margin: 0;
}
.header .headerNav .headerNavItem {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  color: #F0F3FF;
}
.header .headerAcc {
  display: block;
  font-size: 16px;
  line-height: 18.78px;
  color: #FFFBE5;
  font-weight: 600;
  padding-bottom: 16px;
}
.header .headerAcc svg {
  margin-right: 11px;
}
.header .headerAcc svg path {
  fill: #ffffff;
}

.content {
  width: 100%;
  height: 100%;
  padding: 30px 20px 10px 90px;
  max-width: 1410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  width: 100%;
  min-height: 100%;
  background-color: #F1EFFF;
}

.headerInfo {
  width: 100%;
  background-color: #fff;
}
.headerInfo .container:nth-child(1) {
  border-bottom: 2px solid #C5D0E7;
}
.headerInfo .headerInfoTop {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.headerInfo .headerInfoTop .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerInfo .headerInfoTop .user .userImg {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url("../img/ph.svg");
}
.headerInfo .headerInfoBottom {
  padding: 5px 0;
  padding-left: 77px;
}
.headerInfo .headerInfoBottom .pathList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headerInfo .headerInfoBottom .pathList .pathItem {
  display: block;
  position: relative;
  padding-right: 15px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: #52616B;
  margin-right: 8px;
}
.headerInfo .headerInfoBottom .pathList .pathItem:after {
  position: absolute;
  content: "";
  background-image: url("../img/right-ar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 5px;
  height: 8.5px;
  top: calc(50% - 4.25px);
  right: 0;
}
.headerInfo .headerInfoBottom .pathList .pathItem.pathItemCurrent {
  color: #2FC083;
  padding-left: 0;
  margin-right: 0;
}
.headerInfo .headerInfoBottom .pathList .pathItem.pathItemCurrent:after {
  display: none;
}

.playersList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.playersList .playersListEx .playersListExSearch {
  width: 530px;
  position: relative;
  margin-bottom: 20px;
}
.playersList .playersListEx .playersListExSearch input {
  padding-right: 35px;
  color: #627698;
}
.playersList .playersListEx .playersListExSearch button {
  position: absolute;
  top: 13px;
  right: 15px;
}
.playersList .playersListEx .playersListExInfo {
  width: 530px;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoMain {
  padding: 20px 20px;
  border-bottom: 1px solid #C5D0E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoMain .profilePic {
  height: 80px;
  width: 80px;
  background-image: url("../img/ph.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoMain .profileDescr .profileDescrName {
  color: #627698;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin-bottom: 9px;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoMain .profileDescr .profileDescrInfo span {
  color: #52616B;
  font-size: 14px;
  line-height: 16.8px;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoMain .profileDescr .profileDescrInfo .age {
  margin-right: 13px;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoList .infoListNames {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoList .infoListNames .infoListName {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 16.8px;
  color: #52616B;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoList .infoListNames .infoListName:last-child {
  margin: 0;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoList .infoListValues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoList .infoListValues .infoListValue {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 16.8px;
  color: #627698;
  font-weight: 600;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactItem {
  display: block;
  margin-bottom: 15px;
  position: relative;
  font-size: 14px;
  line-height: 16.44px;
  color: #52616B;
  font-weight: 600;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactItem:last-child {
  margin: 0;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactItem div {
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  margin-right: 6px;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactSend div {
  background-color: #D9FAFF;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactSend div svg path {
  fill: #4AD39A;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactMore div {
  background-color: #FFFBE5;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactMore div svg path {
  fill: #FFD565;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactBlock div {
  background-color: #FFF1E5;
}
.playersList .playersListEx .playersListExInfo .playersListExInfoDetails .infoContact .infoContactBlock div svg path {
  fill: #E54D4D;
}
.playersList .playersListMain {
  width: 750px;
  height: 797px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: red;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: 9.38px;
}
.playersList .playersListMain::-webkit-scrollbar {
  width: 9.38px;
  background-color: transparent;
}
.playersList .playersListMain::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid #A9B4CB;
  border-radius: 15px;
}
.playersList .playersListMain .playerListMainTitle {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 600;
  margin-bottom: 14px;
  padding: 30px 30px 0;
}
.playersList .playersListMain .playerListMainTable {
  width: 100%;
  border-spacing: 0;
}
.playersList .playersListMain .playerListMainTable .tableBody .tableRowHead th {
  padding: 16px 16px 16px 30px;
}
.playersList .playersListMain .playerListMainTable .tableBody .tableRowHead th .tableTitleHead {
  text-align: left;
  font-size: 14px;
  line-height: 16.8px;
  color: #627698;
}
.playersList .playersListMain .playerListMainTable .tableBody .tableRow td {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
  color: #627698;
  padding: 16px 16px 16px 30px;
  border-top: 2px solid #C5D0E7;
}
.playersList .playersListMain .playerListMainTable .tableBody .tableRow td .tableRowItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playersList .playersListMain .playerListMainTable .tableBody .tableRow td .tableRowItem .profilePic {
  width: 30px;
  height: 30px;
  background-image: url("../img/ph.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 10px;
}