* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}



html {
    font-size: 16px;
    // height: 100%;
    // width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input, button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

button, input, textarea {
    &::placeholder {
        font-family: 'Raleway', sans-serif;
        font-size: inherit;
        line-height: inherit;
        color: var(--text_dark);
    }
    &:disabled {
        pointer-events: none;
    }
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--text_dark);
    display: flex;
    position: relative;
}

//HELPERS
.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    height: 100%;
    // height: auto;
    // align-items: stretch;
}

.container {
    max-width: 1410px;
    margin: 0 auto 0 0;
    width: 100%;
    padding: 0 20px;
}

.block {
    border-radius: 15px;
    background-color: #fff;
    box-shadow:var(--block-shadow);
}

.hide {
    display: none !important;
}
