* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}



html {
    font-size: 16px;
    // height: 100%;
    // width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input, button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

button, input, textarea {
    &::placeholder {
        font-family: 'Raleway', sans-serif;
        font-size: inherit;
        line-height: inherit;
        color: var(--text_dark2);
    }
    &:disabled {
        pointer-events: none;
    }
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--text_dark);
    display: flex;
    position: relative;
}

//HELPERS
.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    height: 100%;
    // height: auto;
    // align-items: stretch;
}

.container {
    max-width: 1410px;
    margin: 0 auto 0 0;
    width: 100%;
    padding: 0 20px;
}

.block {
    border-radius: 15px;
    background-color: #fff;
    box-shadow:var(--block-shadow);
    // overflow: hidden;
}

.tag {
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--pallete_gray3);
    padding: 5px 8px 5px 10px;
    cursor: pointer;

    display: flex;

    button {
        width: 9.6px;
        height: 9.6px;
        margin-left: 3px;

    }
}


.hide {
    display: none !important;
}

.formName {
    font-size: 12px;
    line-height: 14.09px;
    color: var(--text_dark2);
    margin-bottom: 6px;
}

.blockTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;
}

.btn_close {
    @include ease-02;

    svg {
        circle {
            @include ease-02;
        }
    }
    &:hover {
        svg {
            circle {
                fill: var(--polutone_red);
            }
        }
    }

    &:active {
        transform: scale(0.90);
    }
}

.btn_done {
    @include ease-02;

    svg {
        circle {
            @include ease-02;
        }
    }

    &:hover {
        svg {
            circle {
                fill: var(--polutone_green);
            }
        }
    }

    &:active {
        transform: scale(0.90);
    }
}

.btn_drop {

    svg {
        @include ease-02;
        circle {
            @include ease-02;
        }
    }

    &:hover {
        svg {
            circle {
                fill: var(--polutone_blue);
            }
        }
    }

    &:active {
        svg {
            transform: scale(0.80);
        }
    }
}

.btn_create {
    @include ease-02;
    svg {
        circle {
            @include ease-02;
        }
    }

    &:hover {
        svg {
            circle {
                fill: var(--polutone_gray);
            }
        }
    }

    &:active {
        transform: scale(0.80);
    }
}


