// Главные цвета ============================================================

$dark:#1E2022;
$dark2:#52616B;
$secondary1:#DBF0FF;
$secondary2:#F0F5F9;
$orange:#F57243;
$yellow:#FFD565;
$green:#4AD39A;
$blue:#1B3764;
$red:#E54D4D;
$violet:#5939D6;


//Второстепенные цвета ============================================================
$red1: #FFF1E5;
$red2: #FAB294;
$red3: #F57243;

$yellow1: #FFFBE5;
$yellow2: #D2D2A6;
$yellow3: #AAA981;

$green1: #D9FAFF;
$green2: #7ACED0;
$green3: #41A4A4;

$gray1: #F0F3FF;
$gray2: #A9B4CB;
$gray3: #627698;



// Миксины для анимаций (если станет много тогда надо перенести в отдельный файл animations.scss ) ============================================================
@mixin ease-02 {
    transition: all .2s ease;
}



// Миксины для глобальных классов (компонентов) ============================================================

/* КНОПКИ */

/* Сплошные кнопки */
@mixin btn-blue {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: #F0F1FF;
    background-color: #7F84EC;
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: #F0F1FF;
        }
        rect {
            fill: #F0F1FF;
        }
        ellipse {
            fill: #F0F1FF;
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: $gray2;
        background-color: $gray1;

        svg {
            path {
                fill: $gray2 !important;
            }
    
            rect {
                fill: $gray2 !important;
            }
    
            ellipse {
                fill: $gray2 !important;
            }
        }
        
    }
}

@mixin btn-green {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: #E5FFEF;
    background-color: $green;
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: #F0F1FF;
        }
        rect {
            fill: #F0F1FF;
        }
        ellipse {
            fill: #F0F1FF;
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: $gray2;
        background-color: $gray1;

        svg {
            path {
                fill: $gray2 !important;
            }
    
            rect {
                fill: $gray2 !important;
            }
    
            ellipse {
                fill: $gray2 !important;
            }
        }
    }
}

@mixin btn-orange {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: $red1;
    background-color: $orange;
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: #F0F1FF;
        }
        rect {
            fill: #F0F1FF;
        }
        ellipse {
            fill: #F0F1FF;
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: $gray2;
        background-color: $gray1;

        svg {
            path {
                fill: $gray2 !important;
            }
    
            rect {
                fill: $gray2 !important;
            }
    
            ellipse {
                fill: $gray2 !important;
            }
        }
    }
}

@mixin btn-yellow {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: $yellow1;
    background-color: $yellow;
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: #F0F1FF;
        }
        rect {
            fill: #F0F1FF;
        }
        ellipse {
            fill: #F0F1FF;
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: $gray2;
        background-color: $gray1;

        svg {
            path {
                fill: $gray2 !important;
            }
    
            rect {
                fill: $gray2 !important;
            }
    
            ellipse {
                fill: $gray2 !important;
            }
        }
    }
}

/* Полупрозрачные кнопки */
@mixin btn-tr-yellow {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: #EBC233;
    background-color: $yellow1;
    border: 1px solid #EBC233;
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: #EBC233;
        }

        rect {
            fill: #EBC233;
        }

        ellipse {
            fill: #EBC233;
        }
    }
    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: $gray2;
        background-color: $gray1;
        border-color: $gray2;

        svg {
            path {
                fill: $gray2 !important;
            }
    
            rect {
                fill: $gray2 !important;
            }
    
            ellipse {
                fill: $gray2 !important;
            }
        }
    }
}

@mixin btn-tr-green {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: #2FC083;
    background-color: #E5FFEF;
    border: 1px solid #5FDAA6;
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: #2FC083;
        }

        rect {
            fill: #2FC083;
        }

        ellipse {
            fill: #2FC083;
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: $gray2;
        background-color: $gray1;
        border-color: $gray2;

        svg {
            path {
                fill: $gray2 !important;
            }
    
            rect {
                fill: $gray2 !important;
            }
    
            ellipse {
                fill: $gray2 !important;
            }
        }
    }
    
}

@mixin btn-tr-blue {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: #2F35C0;
    background-color: #F0F1FF;
    border: 1px solid #7F84EC;
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: #2F35C0;
        }

        rect {
            fill: #2F35C0;
        }

        ellipse {
            fill: #2F35C0;
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: $gray2;
        background-color: $gray1;
        border-color: $gray2;

        svg {
            path {
                fill: $gray2 !important;
            }
    
            rect {
                fill: $gray2 !important;
            }
    
            ellipse {
                fill: $gray2 !important;
            }
        }
    }
}

@mixin btn-tr-orange {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: $orange;
    background-color: #FFF1E5;
    border: 1px solid #FAB294;
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: $orange;
        }

        rect {
            fill: $orange;
        }

        ellipse {
            fill: $orange;
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: $gray2;
        background-color: $gray1;
        border-color: $gray2;

        svg {
            path {
                fill: $gray2 !important;
            }
    
            rect {
                fill: $gray2 !important;
            }
    
            ellipse {
                fill: $gray2 !important;
            }
        }
    }
}



/* ИНПУТЫ */

/* Без иконки */
@mixin input {
    display: block;
    background-color: #fff;
    border: 2px solid #C5D0E7;
    border-radius: 10px;
    padding: 14px 15px;
    width: 100%;
    
    color: $dark2;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 600;
    @include ease-02;

    &:hover {
        border-color: #7F84EC;
    }

    &:focus {
        border: 2px solid #7F84EC;
    }

    &:disabled {
        color: $gray2;
        background-color: $secondary2;
        border: 2px solid #C5D0E7;
    }
}




