:root {
    // Главные цвета ============================================================
    --bg: #F3F9FF;
    --devaider: #C5D0E7;
    --hover: #F8F8F8;

    //Второстепенные цвета ============================================================
    --secdr_1: #DBF0FF;
    --secdr_2: #F0F5F9;

    //База ============================================================
    --base_violet: #5939D6;
    --base_green: #4AD39A;
    --base_yellow: #FFD565;
    --base_orange: #F57243;
    --base_blue: #1B3764;
    --base_red: #E54D4D;


    //Текст ============================================================
    --text_dark: #1E2022;
    --text_dark2: #52616B;

    //Палитра ============================================================
    --pallete_red1: #FFF1E5;
    --pallete_red2: #FAB294;
    --pallete_red3: #F57243;

    --pallete_yellow1: #FFFBE5;
    --pallete_yellow2: #EBC233;
    --pallete_yellow3: #D6AA0E;

    --pallete_green1: #E5FFEF;
    --pallete_green2: #5FDAA6;
    --pallete_green3: #2FC083;

    --pallete_gray1: #F0F3FF;
    --pallete_gray2: #A9B4CB;
    --pallete_gray3: #627698;

    --pallete_blue1: #F0F1FF;
    --pallete_blue2: #7F84EC;
    --pallete_blue3: #2F35C0;


    //Тень для блока ============================================================
    --window: 0px 4px 50px #E3ECFA;
    --block-shadow: 0px 4px 50px #DDE7F7;
    --push_shadow: 4px 10px 20px 3px rgba(178, 172, 220, 0.6);
    // --table_border: 1px solid #C5D0E7;


    //Фон при наведении для круглых кнопок
    --polutone_red: #FFE1C7;
    --polutone_green: #C5FBDA;
    --polutone_yellow: #FCF2BC;
    --polutone_blue: #DCEEFC;
    --polutone_gray: #DCDFFF;


    --yellow: #F2C94C;
    --blue: #2F80ED;
    --blue2: #2D9CDB;
    --blue3: #56CCF2;
    --purple: #9B51E0;
    --purple2: #BB6BD9;
    --green: #219653;
    --green2: #27AE60;
    --orange: #F2994A;
    --gray: #333333;





}



// Миксины для анимаций (если станет много тогда надо перенести в отдельный файл animations.scss ) ============================================================
@mixin ease-02 {
    transition: all .2s ease;
}



// Миксины для глобальных классов (компонентов) ============================================================

/* КНОПКИ */

/* Сплошные кнопки */
@mixin btn-blue {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: var(--pallete_blue1);
    background-color: var(--pallete_blue2);
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: var(--pallete_blue1);
        }
        rect {
            fill: var(--pallete_blue1);
        }
        ellipse {
            fill: var(--pallete_blue1);
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--pallete_gray1);

        svg {
            path {
                fill: var(--pallete_gray2) !important;
            }
    
            rect {
                fill: var(--pallete_gray2) !important;
            }
    
            ellipse {
                fill: var(--pallete_gray2) !important;
            }
        }
        
    }
}

@mixin btn-green {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: var(--pallete_green1);
    background-color: var(--base_green);
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: var(--pallete_blue1);
        }
        rect {
            fill: var(--pallete_blue1);
        }
        ellipse {
            fill: var(--pallete_blue1);
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--pallete_gray1);

        svg {
            path {
                fill: var(--pallete_gray2) !important;
            }
    
            rect {
                fill: var(--pallete_gray2) !important;
            }
    
            ellipse {
                fill: var(--pallete_gray2) !important;
            }
        }
    }
}

@mixin btn-orange {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: var(--pallete_red1);
    background-color: var(--base_orange);
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: var(--pallete_blue1);
        }
        rect {
            fill: var(--pallete_blue1);
        }
        ellipse {
            fill: var(--pallete_blue1);
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--pallete_gray1);

        svg {
            path {
                fill: var(--pallete_gray2) !important;
            }
    
            rect {
                fill: var(--pallete_gray2) !important;
            }
    
            ellipse {
                fill: var(--pallete_gray2) !important;
            }
        }
    }
}

@mixin btn-yellow {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: var(--pallete_yellow1);
    background-color: var(--base_yellow);
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: var(--pallete_blue1);
        }
        rect {
            fill: var(--pallete_blue1);
        }
        ellipse {
            fill: var(--pallete_blue1);
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--pallete_gray1);

        svg {
            path {
                fill: var(--pallete_gray2) !important;
            }
    
            rect {
                fill: var(--pallete_gray2) !important;
            }
    
            ellipse {
                fill: var(--pallete_gray2) !important;
            }
        }
    }
}

/* Полупрозрачные кнопки */
@mixin btn-tr-yellow {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: var(--pallete_yellow2);
    background-color: var(--pallete_yellow1);
    border: 1px solid var(--pallete_yellow2);
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: var(--pallete_yellow2);
        }

        rect {
            fill: var(--pallete_yellow2);
        }

        ellipse {
            fill: var(--pallete_yellow2);
        }
    }
    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--pallete_gray1);
        border-color: var(--pallete_gray2);

        svg {
            path {
                fill: var(--pallete_gray2) !important;
            }
    
            rect {
                fill: var(--pallete_gray2) !important;
            }
    
            ellipse {
                fill: var(--pallete_gray2) !important;
            }
        }
    }
}

@mixin btn-tr-green {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: var(--pallete_green3);
    background-color: var(--pallete_green1);
    border: 1px solid var(--pallete_green2);
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: var(--pallete_green3);
        }

        rect {
            fill: var(--pallete_green3);
        }

        ellipse {
            fill: var(--pallete_green3);
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--pallete_gray1);
        border-color: var(--pallete_gray2);

        svg {
            path {
                fill: var(--pallete_gray2) !important;
            }
    
            rect {
                fill: var(--pallete_gray2) !important;
            }
    
            ellipse {
                fill: var(--pallete_gray2) !important;
            }
        }
    }
    
}

@mixin btn-tr-blue {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: var(--pallete_blue3);
    background-color: var(--pallete_blue1);
    border: 1px solid var(--pallete_blue2);
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: var(--pallete_blue3);
        }

        rect {
            fill: var(--pallete_blue3);
        }

        ellipse {
            fill: var(--pallete_blue3);
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--pallete_gray1);
        border-color: var(--pallete_gray2);

        svg {
            path {
                fill: var(--pallete_gray2) !important;
            }
    
            rect {
                fill: var(--pallete_gray2) !important;
            }
    
            ellipse {
                fill: var(--pallete_gray2) !important;
            }
        }
    }
}

@mixin btn-tr-orange {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: var(--base_orange);
    background-color: var(--pallete_red1);
    border: 1px solid var(--pallete_red2);
    border-radius: 15px;
    padding: 15px 30px;
    @include ease-02;

    svg {
        path {
            fill: var(--base_orange);
        }

        rect {
            fill: var(--base_orange);
        }

        ellipse {
            fill: var(--base_orange);
        }
    }

    &:hover {
        border-radius: 20px;
    }

    &:active {
        border-radius: 20px;
        transform: scale(0.97);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--pallete_gray1);
        border-color: var(--pallete_gray2);

        svg {
            path {
                fill: var(--pallete_gray2) !important;
            }
    
            rect {
                fill: var(--pallete_gray2) !important;
            }
    
            ellipse {
                fill: var(--pallete_gray2) !important;
            }
        }
    }
}



/* ИНПУТЫ */

/* Без иконки */
@mixin input {
    display: block;
    background-color: #fff;
    border: 2px solid var(--devaider);
    border-radius: 10px;
    padding: 14px 15px;
    width: 100%;
    
    color: var(--text_dark2);
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 600;
    @include ease-02;


    &::placeholder {
        color: var(--pallete_gray2);
    }
    &:hover {
        border-color: var(--pallete_blue2);
    }

    &:focus {
        border: 2px solid var(--pallete_blue2);
    }

    &:disabled {
        color: var(--pallete_gray2);
        background-color: var(--secdr_2);
        border: 2px solid var(--devaider);
    }
}




